<%-include('../partials/header.ejs')%>


<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <a class="btn btn-primary">Connections</a>
    </div>
</div>

<!---->

<section class="connection-list">

    <h1> Events</h1>
    <div class="card" style="width: 18rem;">
        <%if(topics.length) {%>
        <%topics.forEach(topic=>{%>

        <h2> <%= topic%></h2>
            <%if(connections.length) {%>
            <%connections.forEach(connection=>{%>
                <% if (topic === connection.topic) { %>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/connections/<%= connection.id%>"><p><%= connection.title%></p></a></li>
        </ul>
                    <%} else { %>

                    <% } %>

            <% });
            } else {%>
                <p>There are no connections to display.</p>
            <%}%>

        <% });
        } else {%>
            <p>There are no topics to display.</p>
        <%}%>
    </div>


</section>



<%-include('../partials/footer.ejs')%>
