<%-include('../partials/header.ejs')%>
<link rel="stylesheet" href="/public/css/style2.css">

<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <a href="/connections" class="btn btn-primary">Connections</a>
    </div>
</div>
<!-- list of events/connections -->

<section class="connection-list">

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="<%= connection.imageURL%>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= connection.title%></h5>
                <p class="card-text">Date: <%= connection.when%></p>
                <p class="card-text">Location: <%= connection.where%></p>
                <p class="card-text"><%= connection.start%> to <%= connection.end%></p>
                <p class="card-text">Hosted by: <%= connection.host%></p>
                <p class="card-text"><%= connection.details%></p>


                <form>
                    <table>
                    <td><a class="btn btn-primary"><button type="submit" formmethod="get" formaction="/connections/<%=connection.id%>/edit">update</button></a></td>
                    <td><a class="btn btn-primary"><button type="submit" formmethod="POST" formaction="/connections/<%=connection.id%>?_method=DELETE">delete</button></a></td>
                    </table>
                </form>


                <p class="card-text"><small class="text-muted">created or updated on <%=connection.createdAt%></small></p>
            </div>
        </div>
    </div>
</div>

</section>


<%-include('../partials/footer.ejs')%>




